[submodule "neovim"]
	path = neovim
	url = git@github.com:TyrannosaurusLjx/Nvim.git
[submodule "Neovide"]
	path = Neovide
	url = git@github.com:TyrannosaurusLjx/Neovide-NvChad.git
[submodule "hammerspoon"]
	path = hammerspoon
	url = https://github.com/TyrannosaurusLjx/hammerspoon
